#CLOCK
NET "clk" LOC=E3 | IOSTANDARD=LVCMOS33;
NET "clk" CLOCK_DEDICATED_ROUTE=FALSE;
 
# SWITCHES
NET "switch[0]" LOC=J15 | IOSTANDARD=LVCMOS33;
NET "switch[1]" LOC=L16 | IOSTANDARD=LVCMOS33;
NET "switch[2]" LOC=M13 | IOSTANDARD=LVCMOS33;
NET "switch[3]" LOC=R15 | IOSTANDARD=LVCMOS33;
NET "switch[4]" LOC=R17 | IOSTANDARD=LVCMOS33;
NET "switch[5]" LOC=T18 | IOSTANDARD=LVCMOS33;
NET "switch[6]" LOC=U18 | IOSTANDARD=LVCMOS33;
NET "switch[7]" LOC=R13 | IOSTANDARD=LVCMOS33;
NET "semnnr1" LOC=T8 | IOSTANDARD=LVCMOS33;
NET "semnnr2" LOC=U8 | IOSTANDARD=LVCMOS33;

#7 catment display
NET "cathode[0]" LOC=L18 | IOSTANDARD=LVCMOS33;
NET "cathode[1]" LOC=T11 | IOSTANDARD=LVCMOS33;
NET "cathode[2]" LOC=P15 | IOSTANDARD=LVCMOS33;
NET "cathode[3]" LOC=K13 | IOSTANDARD=LVCMOS33;
NET "cathode[4]" LOC=K16 | IOSTANDARD=LVCMOS33;
NET "cathode[5]" LOC=R10 | IOSTANDARD=LVCMOS33;
NET "cathode[6]" LOC=T10 | IOSTANDARD=LVCMOS33;

NET "anode[0]" LOC=J17 | IOSTANDARD=LVCMOS33;
NET "anode[1]" LOC=J18 | IOSTANDARD=LVCMOS33;
NET "anode[2]" LOC=T9 | IOSTANDARD=LVCMOS33;
NET "anode[3]" LOC=J14 | IOSTANDARD=LVCMOS33;

#Buttons
NET "sel[0]" LOC=P18 | IOSTANDARD=LVCMOS33;
NET "sel[1]" LOC=N17 | IOSTANDARD=LVCMOS33;
NET "enable" LOC=M18 | IOSTANDARD=LVCMOS33;
NET "en" LOC=M17 | IOSTANDARD=LVCMOS33;
